*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
}

html{
    height: 100%;
}

body{
    background-color: #9500D1;
    display: flex;
    justify-content: center;
    height: 100%;
}

nav{
    display: grid;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: min-content;
    top: 0;
    bottom: 0;
    padding: 20px;
}

.produto{
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
        "a b b"
        "a c d"
        "a c e";
    height: 220px;
    width: 800px;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img > img{
    height: 200px;
}

.modelo{
    overflow: hidden;
    align-self: flex-end;
}

.info{
    padding-top: 20px;
}

.mini{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stars > img{
    align-self: flex-start;
    height: 20px;
    padding: 0px 8px 0px 8px;
    margin-top: 10px;
}

.mini > img{
    height: 100px;
    padding: 0px 5px 20px 5px;
}

.selecionado {
    filter: contrast(40%);
}

